{% extends "cakes.html" %}
{% block content%}
<h1>Cakes List</h1>
    <div class="panel">
        <div class="panel-header"> {{cake.name}} </div>
        <div class="separator"></div>
        <div class="panel-body"> {{cake.description}} </div>
        <div class="panel-footer"> ${{cake.price}} </div>
        <div class="separator"></div>
        <div class="panel-extra">
            <form id="deleteItemForm" action="/cakes/" method="DELETE">{% csrf_token %}
                <input type="hidden" name="cake_id" value="{{ cake.id }}"/>
                <button class="reset-button" type="button" name="updateButton" onclick="updateItem(this.form);">Update</button>
                <button class="submit-button" type="button" name="deleteButton" onclick="deleteItem(this.form);">Delete</button>
            </form>
        </div>
    </div>
</ul>
{% endblock %}