<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cake Designs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cakes_styles.css' %}" />
</head>
<body>
    <div class="page-header">{% block headline %}Cake Designs {% endblock %}</div>
    <br>
    <br>
    <br>
    <br>
    <div class="page-body">
        <span style="text-align: center;"><h1>{% block content %}Welcome to the Cake Designs website!! {% endblock %}</h1></span>
        <div style="text-align: center;">
            <form action="/cakes" method="get">
                <button class="gotobutton" type="submit">Check out our AWESOME CAKES >></button>
            </form>
        </div>
    </div>
    <br>
    <br>
</body>
</html>